/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 
/ 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 
/ 52 / 62 / 74 / 86 / 98
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$main--color: #fff;
$secondary--color: #e74c3c;
$blue-color: rgb(0, 100, 148);
$grey--color: #212529;
$white--color: #fff;

* {
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
  box-sizing: border-box;
}

// file app.js
.app-container {
  background: #f1f3f5;
  color: $grey--color;
  min-height: 110vh;
  position: relative;

  //login.js
  $color_1: white;
  $background-color_1: white;
  $background-color_2: lightcoral;
  $background-color_3: rgb(252, 173, 173);
  $background-color_4: teal;

  .login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("https://cdn5.f-cdn.com/contestentries/1578585/21468461/5d62b49ac544b_thumb900.jpg");
    background-size: cover;

    .loginTitle {
      font-size: 50px;
      text-transform: uppercase;
    }

    .loginForm {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      >label {
        margin: 10px 0;
      }
    }

    .loginInput {
      padding: 15px 100px;
      background-color: white;
      background-color: $background-color_1;
      border: none;
    }

    .loginButton {
      margin-top: 20px;
      cursor: pointer;
      background-color: $background-color_2;
      border: none;
      color: $color_1;
      border-radius: 10px;
      padding: 10px;
      text-transform: uppercase;

      &:disabled {
        cursor: not-allowed;
        background-color: $background-color_3;
      }
    }

    .loginRegisterButton {
      position: absolute;
      top: 80%;
      right: 47%;
      background-color: $background-color_4;
      cursor: pointer;
      border: none;
      padding: 10px;
      color: $color_1;
      border-radius: 10px;
    }

    .errorMessage {
      margin-top: 15px;
      color: red;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  //file header.js
  .header-container {
    background: $white--color;
    font-size: 18px;

    .icon-header {
      width: 36px;
      height: 36px;
      margin-left: 18px;

      @media (max-width: 1400px) {
        stroke: $blue-color;
      }
    }

    text-align: left;
  }

  // file translate.js
  .translate-container {
    flex: 9;

    .breadcrumb {
      width: 22%;
      background-color: $white--color;
      padding: 10px;
      border: 1px solid $blue-color;
      border-radius: 15px;
    }

    .translation-result h3 {
      margin-bottom: 24px;
    }

    .translate-area {
      text-align: center;
      margin-top: 48px;

      input {
        width: 400px;
        height: 50px;
        margin: 24px 0;
        padding-left: 5px;
      }

      button {
        padding: 12px 32px;
        background-color: $secondary--color;
        color: #fff;
        font-weight: 500;
        border: none;
        margin-bottom: 40px;

        &:hover {
          background-color: rgba(234, 60, 60, 0.8);
        }
      }
    }
  }

  .contact-container {
    h1 {
      font-size: 62px;
      padding: 80px 188px;

      @media (max-width: 768px) {
        font-size: 32px;
        padding: 64px 0;
        text-align: center;
      }
    }

    .contact-section {
      max-width: 960px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .contact-title {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
      }

      .contact-info {
        margin-top: -12px;
      }

      .icon-contact {
        width: 36px;
        height: 36px;
        margin-right: 10px;
      }
    }
  }

  // file footer.js
  .footer-container {
    margin-top: 20%;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  // home.js
  .homepage-container {
    height: 100%;
    width: 100%;

    .section {
      .right-section {
        display: flex;
        flex-direction: column;

        .right-section-post {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
        }
      }

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 10px;
      }

      .main-title1 {
        border-left: solid 2px $secondary--color;
        position: relative;
        z-index: 1;
        background-color: $secondary--color;
        float: left;
        margin: 0 5px;
        border-bottom: none;
        padding: 0 10px 0 5px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        color: #fff;
        height: 36px;
        line-height: 36px;
      }
    }

    .main-content {
      display: flex;
      flex-direction: column;

      .post {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          margin-right: 10px;

        }

        .post-content {
          flex: 1;
        }
      }
    }

    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1em;
      margin-bottom: 5px;
    }

    .first-element {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      margin-top: 62px;
      position: relative;

      .header-bg1 {
        position: absolute;

        @media (max-width: 1400px) {
          display: none;
        }

        bottom: 100px;
      }

      h1 {
        text-align: center;

        p {
          font-weight: 100;
          display: inline;
        }
      }

      button {
        z-index: 1;
        border-radius: 5px;
        background-color: $main--color;
        box-shadow: 0 24px 24px rgba(0, 100, 148, 0.2);
        border: 1px solid $blue-color;
        width: 200px;
        height: 50px;
        color: $grey--color;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: -150px;
        font-size: 16px;
        cursor: pointer;

        a {
          line-height: 50px;
          width: 100%;
          height: 100%;
          display: inline-block;

          &:link,
          &:visited {
            color: $grey--color;
            text-decoration: none;
          }
        }

        &:hover {
          a {
            color: $white--color;
          }

          border: 1px solid $white--color;
          background-color: $blue-color;
          color: $white--color;
        }
      }
    }

    .title-article {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
  }

  //home.js
  .main-home {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 350px;
    }
  }

  //sidebar.jsx
  .sidebar {
    padding-top: 27px;
    padding-bottom: 30px;
    background-color: $white--color;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }

    img {
      height: 150px;
      width: 100%;
      margin-top: 20px;
      padding: 15px;
    }

    .sidebarSection {
      margin: 15px;
      padding: 10px;
      width: 100%;
      border-top: 1px solid #ffa8a8;
      background-color: $secondary--color;
      border-bottom: 1px solid #ffa8a8;
      font-size: 20px;
      color: #ffe3e3;
      font-weight: 600;
      text-transform: uppercase;
    }

    .section-post {
      cursor: pointer;
      padding: 10px;

      .section-title {
        letter-spacing: -1px;
        font-weight: 600;
        color: #3d566e;

        &:hover {
          color: #e74c3c;
        }
      }

      img:hover {
        opacity: 80%;
      }
    }

  }

  //posts.jsx
  .posts {
    border-radius: 5px;
    background: $white--color;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;

    @media (max-width: 768px) {
      justify-content: space-between;
      margin-right: 0;

      .main-post {
        flex-basis: 100%;
        margin: 24px 0 40px 0;

        .postImg {
          height: 180px;
        }
      }
    }

    .main-post {
      flex-basis: calc(50% - 50px);
      margin: 24px 24px 40px 24px;

      .postImg {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 5px;

        &:hover {
          opacity: 80%;
        }
      }

      .postInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .postCat {
        font-size: 11px;
        color: #be9656;
        line-height: 20px;
        margin-top: 15px;
        margin-right: 10px;
        cursor: pointer;
      }

      .postTitle {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -1.5px;
        line-height: 1.2;
        margin-top: 15px;
        margin-bottom: 8px;
        cursor: pointer;

        &:hover {
          color: #e74c3c;
        }
      }

      // .postDate {
      //   width: 100%;
      //   font-style: italic;
      //   font-size: 13px;
      //   color: #999;
      //   margin-top: 5px;
      //   margin-bottom: 10px;
      //   display: inline-block;
      // }

      .postDesc {
        font-size: 14px;
        color: #444;
        line-height: 1.7;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }

  //single.jsx
  .single {
    display: flex;
  }

  //singlePost.jsx
  .singlePost {
    flex: 9;
    padding-left: 12px;
    padding-right: 12px;

    p {
      color: #212529;
    }

    .singlePostImg {
      width: 100%;
      height: 500px;
      border-radius: 5px;
      object-fit: cover;
    }

    .singlePostTitle {
      text-align: center;
      margin: 24px;
    }

    h1 {
      font-size: 25px !important;
      font-weight: 700 !important;
      text-transform: uppercase !important;
    }


    .singlePostEdit {
      float: right;
      font-size: 26px;
    }

    .singlePostIcon {
      margin-left: 10px;
      cursor: pointer;

      &:first-child {
        color: teal;
      }

      &:last-child {
        color: tomato;
      }
    }

    .singlePostInfo {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      color: #b39656;
    }

    .singlePostDesc {
      color: #666;
      font-size: 16px;
      line-height: 1.7;

      &::first-letter {
        margin-left: 20px;
        font-size: 30px;
        font-weight: 600;
      }
    }

  }

  //register.jsx
  .register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)),
      url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;

    .input-2 {
      position: relative;

      i {
        cursor: pointer;
        position: absolute;
        top: 17px;
        right: 10px;
      }
    }

    .registerTitle {
      font-size: 50px;
      text-transform: uppercase;
    }

    .registerForm {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }

    .registerForm>label {
      margin: 10px 0;
    }

    .registerInput {
      padding: 15px 100px;
      background-color: white;
      border: none;
    }

    .registerButton {
      margin-top: 20px;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      padding: 10px;
      text-transform: uppercase;

      &.active {
        background-color: #228be6;
        color: white;
      }
    }

    .registerLoginButton {
      position: absolute;
      top: 80%;
      right: 47%;
      background-color: lightcoral;
      cursor: pointer;
      border: none;
      padding: 10px;
      border-radius: 10px;

      a {
        text-decoration: none !important;
        color: white;

      }
    }
  }

  // Table styles
  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    // Table header styles
    thead th {
      font-weight: bold;
    }

    // Table body styles
    tbody td {
      font-weight: normal;
    }

    // Table row styles
    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }


    // Table cell styles
    tbody td p {
      font-weight: 500;
      margin: 0;
      line-height: 1.7;
    }

    // Table cell styles for title
    tbody td:first-child {
      font-weight: 600;
      color: blue;
    }

    // Table cell styles for class reference
    tbody td p:last-child {
      text-align: right;
      color: red;
      font-style: italic;
    }

    th {
      &:not(:last-child) {
        margin-right: 20px; // Increase the margin between <th> elements
      }
    }
  }

  .myDict {
    margin-top: 20px;

    .translation-result {
      h3 {
        margin-top: 40px;
      }

    }

    .dictWord {
      display: inline-block;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 15px;
      cursor: pointer;
      background-color: #b39656;
    }

    .dictWord:hover {
      background-color: #f0f0f0;
    }

    table {
      .saveWord {
        display: none;
      }
    }


  }

  table {
    .saveWord {
      display: block;
    }

    ;
  }

}